.hero-primary {
  --mdc-filled-button-container-color: #ffffff;
  --mdc-filled-button-label-text-color: theme('colors.navy.DEFAULT');
}
.hero-secondary {
  --mdc-outlined-button-outline-color: rgb(255 255 255 / 0.5);
  --mdc-outlined-button-label-text-color: #ffffff;
}
